
@model CDFIToDB.Models.ViewModel.CFDIViewModel
@{
    ViewBag.Title = "CDFI To DB";
    Layout = "_Layout";
}
<br /><br /><br />
<div class="text-center">
    <form asp-action="SeedXML" asp-controller="Home" method="post">
        <button type="submit" name="buttonImportXML" value="All" class="btn  btn-outline-dark btn-lg">Importar todas las nominas XML <i class="fas fa-file-alt"></i></button>
    </form>
</div>
<br /><br />
<h3>Listado de Nominas</h3>
@for (int i = 0; i < Model.CDFIs.Count(); i++)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                <span class="badge badge-pill badge-secondary" style="float:right">
                    <small>RFC: @Model.CDFIs[i].RFCReceptor</small>
                </span>
                Nomina #@(Model.CDFIs[i].CFDIID)
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>Tipo: @Model.CDFIs[i].TipoDeComprobante</small>
                </span>
            </h4>
        </div>
        <div class="card-text p-1">
            <a asp-action="NominaDetails" class="btn btn-sm btn-info"
               asp-route-Id="@Model.CDFIs[i].CFDIID">
                Details
            </a>
        </div>
    </div>
}
